body {
  margin: 0;
  padding: 0;
}
#main{
  /* max-width: 80%;
  height: 80% !important; */
  float: right;
}
#leftpanel{
  float: left;
}

#controls{
  padding: 5px;
}
p{
  margin: 10px
}

li {
    display:inline;
    margin: 100px ;
}
